.notas-page {
    max-width: 1000px;
    margin: 100px 400px auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

.notas-list {
    max-width: 1000px;
    list-style-type: none;
    padding: 30px;
}

.nota-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nota-item p {
    margin: 5px 0;
}
